<section id="bio">
    <div class="container">
        <h3>Bio</h3>
        <div class="row"> <img class="img-circle jon" src="{{ site.baseurl }}/static/img/{{ site.profile_pic }}" alt="That's Me!"> </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- <h3></h3> -->
                <h5>Hey there! I'm Jonathan Jones - if you want to know more about me, you're in the right place!</h5>
                <br>
                <h5>I received a B.S. in Computer Engineering from Georgia Tech in 2015, and received an M.S. in</h5>
                <h5>Electrical &amp; Computer Engineering in 2016 - also from Georgia Tech. While there, I was actively</h5>
                <h5>involved in <a href="//www.robojackets.org" target="_empty">RoboJackets</a> - a competitive robotics organization.</h5> </div>
        </div>
    </div>
</section>
