<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/robojackets/robocup-software" target="_blank">RoboCup Software</a></strong>
					Autonomous soccer playing robots. From design to implementation: 5 BLDC motor controler, wireless hardware &amp; protocol design for low-latency communications, &amp; RTOS-based firmware for real-time controls. Globally competed for 3 years.
				</h5>
                <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/jjones646/turtlebot-follower" target="_blank">Turtlebot Follower</a></strong>
					Autonomous robot that follows red objects with obstacle avoidance.
				</h5>
                <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/jjones646/ece6260" target="_blank">Data Compression</a></strong>
					Advanced data compression techniques for Martin Luther's I Have a Dream Speech.
				</h5>
				<h5><i class="fa fa-compress"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">DE2 Bot</a></strong>
					Hardware based UART controller &amp; motion algorithms in VHDL for random location traversal. <a href="https://youtu.be/rQ8RqYC6e7g" target="_blank">Demo video</a>.
				</h5>
                <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/gt-quadcopter" target="_blank">Pocket Copter</a></strong>
					A pre-inspection quadcopter for potentially haderous inspections. <a href="https://youtu.be/yUI8ijVGgE4" target="_blank">Demo video</a>.
				</h5>
                <h5><i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/jjones646/AttendanceBot5000" target="_blank">AttendanceBot5000</a></strong>
					Streaming video device with a <a href="https://www1.iclicker.com/" target="_blank">Clicker2</a> interfaced with a mobile app for keeping you active in the classroom!
				</h5>
                <h5><i class="fa fa-compress"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">DE2 Bot</a></strong>
					Hardware based UART controller &amp; motion algorithms in VHDL for random location traversal. <a href="https://youtu.be/rQ8RqYC6e7g" target="_blank">Demo video</a>.
				</h5>
			</div>
		</div>
	</div>
</section>
