<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;
					<strong><a href="https://github.com/robojackets/robocup-software" target="_blank">RoboCup Small Size League</a></strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://youtu.be/OgLG3iJmgS0"><i class="fa fa-youtube-play fa-small" title="Watch video"></i></a>
				</h5>
				<h6>
					Autonomous soccer playing robots. 5 BLDC motor controler, wireless hardware &amp; protocol design for low-latency communications, &amp; RTOS-based firmware for real-time controls. Globally competed for 3 years.
				</h6>
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;
					<strong><a href="https://github.com/jjones646/cloudguard" target="_blank">CloudGuard</a></strong>
				</h5>
				<h6>
					A cloud enabled security camera for ARM architecture systems.
				</h6>
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;
					<strong><a href="https://github.com/jjones646/turtlebot-follower" target="_blank">Turtlebot Follower</a></strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://youtu.be/bBsLdz2zpE4"><i class="fa fa-youtube-play fa-small" title="Watch video"></i></a>
				</h5>
				<h6>
					Autonomous robot that follows red objects with obstacle avoidance using ROS.
				</h6>
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;
					<strong><a href="https://github.com/gt-quadcopter" target="_blank">Pocket Copter</a></strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://youtu.be/yUI8ijVGgE4"><i class="fa fa-youtube-play fa-small" title="Watch video"></i></a>
				</h5>
				<h6>
					A micro-sized pre-inspection quadcopter for potentially haderous inspections.
				</h6>
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;
					<strong><a href="https://github.com/jjones646/AttendanceBot5000" target="_blank">AttendanceBot5000</a></strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://youtu.be/vMG3lciuDgQ"><i class="fa fa-youtube-play fa-small" title="Watch video"></i></a>
				</h5>
				<h6>
					Streaming video device with a <a href="https://www1.iclicker.com/" target="_blank">Clicker2</a> interfaced with a mobile app for keeping you active in the classroom!
				</h6>
				<h5><i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;
					<strong><a href="https://github.com/jjones646/ece6260" target="_blank">Data Compression</a></strong>
				</h5>
				<h6>
					Advanced data compression techniques in MATLAB for Martin Luther's <i>I Have a Dream Speech</i>.
				</h6>
				<h5><i class="fa fa-compress"></i>&nbsp;&nbsp;&nbsp;
					<strong><a href="">DE2 Bot</a></strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://youtu.be/rQ8RqYC6e7g"><i class="fa fa-youtube-play fa-small" title="Watch video"></i></a>
				</h5>
				<h6>
					Hardware based UART controller &amp; motion algorithms in VHDL for random location traversal.
				</h6>
			</div>
		</div>
	</div>
</section>
