<section id="robocup">
	<div class="container">
		<h3>RoboCup PCBs</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="caption center-block">
							<h4>Control</h4>
							<a href="{{ site.baseurl }}/static/img/pcb/control-board.jpg"> <img class="img-thumbnail center-block" src="{{ site.baseurl }}/static/img/pcb/thumb/control-board-thumb.jpg" alt="Control Board" style="height:150x;width:203px;"> </a>
							<p>Interfaces all subsystems together, provides LED indicators, &amp; gives access to the system's IMU.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="caption center-block">
							<h4>Motor</h4>
							<a href="{{ site.baseurl }}/static/img/pcb/motor-board.jpg"> <img class="img-thumbnail center-block" src="{{ site.baseurl }}/static/img/pcb/thumb/motor-board-thumb.jpg" alt="Motor Board" style="height:150px;width:133px;"></a>
							<p>Brushless DC motor controller with over-current &amp; protection for 5 motors.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="caption center-block">
							<h4>Radio</h4>
							<a href="{{ site.baseurl }}/static/img/pcb/radio-board.jpg"> <img class="img-thumbnail center-block" src="{{ site.baseurl }}/static/img/pcb/thumb/radio-board-thumb.jpg" alt="Radio Board" style="height:150px;width:150px;"></a>
							<p>Sub-1GHz radio transceiver using the CC1201.</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="caption center-block">
							<h4>Break Beam</h4>
							<a href="{{ site.baseurl }}/static/img/pcb/break-beam-board.jpg"> <img class="img-thumbnail center-block" src="{{ site.baseurl }}/static/img/pcb/thumb/break-beam-board-thumb.jpg" alt="Break Beam Board" style="height:150px;width:150px;"></a>
							<p>IR sensor breakout boards for ball detection.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
