<section id="robocup">
	<div class="container">
		<h3>RoboCup</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
		            <div class="col-sm-4 col-xs-2"></div>
		            <div class="col-sm-4 col-xs-8">
		                <img class="img-thumbnail" src="{{ site.baseurl }}/static/img/pcb/control-board-thumb.jpg" alt="Control Board">
		            </div>
		            <div class="col-sm-4 col-xs-2"></div>
		        </div>
			</div>
		</div>
	</div>
</section>
